# Basic Data types

### 1. Number

In [1]:
4

4

In [2]:
type(4)

int

In [3]:
1.0

1.0

In [4]:
type(1.0)

float

In [5]:
1+1

2

In [6]:
1*3

3

In [7]:
1/3.0

0.3333333333333333

### 2. Variables

In [78]:
x = 5
y = 9
res = x + y

In [79]:
res

14

In [80]:
type(res)

int

### 3. Strings

In [81]:
'Gaurav'

'Gaurav'

In [82]:
print('Gaurav')

Gaurav

In [83]:
type('gaurav')

str

In [84]:
print("I can't do that")

I can't do that

In [85]:
s = "This is big String"

In [86]:
s

'This is big String'

In [87]:
print(s)

This is big String

In [88]:
s[-1]

'g'

In [89]:
s[0]

'T'

In [90]:
s[-2]

'n'

In [91]:
s[:3]

'Thi'

In [92]:
s[:]

'This is big String'

### 4. List

In [93]:
[1,2,3]

[1, 2, 3]

In [94]:
['a','b','c']

['a', 'b', 'c']

In [95]:
l = ['gaurav',1,2,3]

In [96]:
l

['gaurav', 1, 2, 3]

In [27]:
l.append(5)

In [28]:
l

['gaurav', 1, 2, 3, 5]

In [29]:
l.append("Madhu")

In [30]:
l

['gaurav', 1, 2, 3, 5, 'Madhu']

In [31]:
type(l)

list

In [32]:
l[4]

5

In [33]:
l[-1]

'Madhu'

In [34]:
l[-1][-1]

'u'

In [35]:
new_list = ['gaurav','avinash',[1,2,3],['abc','pqr']]

In [36]:
new_list[-1]

['abc', 'pqr']

In [37]:
new_list[-1][-1]

'pqr'

In [38]:
new_list[-1][-1][-1]

'r'

In [39]:
# Print Formatting

In [40]:
print("My name is {} and My age is {}".format('Gaurav',23))

My name is Gaurav and My age is 23

In [41]:
name = 'Gaurav'
age = 23
print("My name is {} and My age is {}".format(name,age))

My name is Gaurav and My age is 23

In [42]:
print("Following order dosent matter {a}, {b}, {c}, {d}".format(a=6,c=9,b=7,d = 10))

Following order dosent matter 6, 7, 9, 10

### 5. Dictionary

In [43]:
d = {'key1' : 'value1', 'key2':'value2' }

In [44]:
d['key1']

'value1'

In [45]:
century = {'Sachin':101, 'Virat':'65', 'Saurav' : 55 }

In [46]:
type(century)

dict

In [47]:
century['Sachin']

101

In [48]:
century['Saurav']

55

In [49]:
d = {'k1': [1,2,3,4], 'k2':'Gaurav'}

In [50]:
d['k1']

[1, 2, 3, 4]

In [51]:
d['k1'][-1]

4

In [52]:
d['k2'][0]

'G'

### 6. Tuple

In [53]:
t = (1,2,3)
print(type(t))
t[0]

<class 'tuple'>

1

In [54]:
t[-1]

3

In [55]:
l = [1,2,3]

In [56]:
l[2] = 1999

In [57]:
l

[1, 2, 1999]

In [58]:
t[2] = 123

TypeError: 'tuple' object does not support item assignment

#### Tuple is immutable but list is mutable

### 7. Set

In [ ]:
s = {1,2,3,4,5}
type(s)

#### Does not support indexing

In [ ]:
s[3]

In [ ]:
s = {1,2,1,12,3,2,1,2}
# Only unique elements
s

In [ ]:
s.add(5)
s

In [ ]:
s.remove(2)
s

### 8. Boolean

In [ ]:
a = True
type(a)

In [ ]:
b = False

In [ ]:
a and b

In [ ]:
a or b

# Conditional Statements

In [ ]:
a = 3
b = 5

### 1. if

In [ ]:
if a > b:
    print("a is greater")

In [ ]:
if b > a:
    print("b is greater")

### 2. if - else

In [ ]:
if a > b:
    print("a is greater")
else:
    print("b is greater")

### 3. if - elif - else

In [ ]:
if a > b:
    print("a is greater")
elif 3==3:
    print("3 is equal to 3")
else:
    print("Nothing")

In [ ]:
if a > b:
    print("a is greater")
elif 4==3:
    print("3 is equal to 3")
else:
    print("Nothing")

# Loops

### 1. for loop

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for item in seq:
    print(item)

### 2. while loop

In [ ]:
i = 1
while i < 5:
    print("i is : {}".format(i))
    i = i+1

In [60]:
a = range(5)
a

range(0, 5)

In [61]:
list(a)

[0, 1, 2, 3, 4]

In [62]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 3. List Comprehension

In [65]:
x = [1,2,3,4,5]
out = []

for i in x:
    out.append(i**2)
    
out

[1, 4, 9, 16, 25]

In [66]:
[i**2 for i in x]

[1, 4, 9, 16, 25]

# Functions

In [67]:
def square(name):
    return name**2

In [68]:
square(7)

49

In [73]:
def square(name = 0):
    return name**2

In [74]:
square()

0

In [75]:
square(9)

81

In [76]:
def cube(num):
    """
    This is documentation for cube function
    This function return cube of a number
    """
    return num**3

In [77]:
cube(6)

216

#### Check documentation of function using shift + tab

# map() function

In [97]:
square(5)

25

In [99]:
seq = list(range(15))
seq

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [100]:
list(map(square, seq))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

# Lambda Expression

#### lambda expression syntax - lambda (input) : (return logic)

In [106]:
lambda x : x-5

In [107]:
t = lambda x : x*5
t(5)

25

In [108]:
list(map(lambda i:i**2, seq))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

# filter() function

In [111]:
seq = list(range(5))
seq

[0, 1, 2, 3, 4]

#### filtering even numbers
#### filter function return values on the basis of boolean value

In [114]:
list(filter(lambda x : x%2 == 0, seq))

[0, 2, 4]

# Methods

In [121]:
s = "My name is Gaurav Rajput"

In [122]:
s.upper()

'MY NAME IS GAURAV RAJPUT'

In [123]:
s.lower()

'my name is gaurav rajput'

In [124]:
s.split()

['My', 'name', 'is', 'Gaurav', 'Rajput']

In [125]:
s.split()[3]

'Gaurav'

In [126]:
d = {'k1':1, 'k2':2}

In [127]:
d.keys()

dict_keys(['k1', 'k2'])

In [128]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [129]:
d.values()

dict_values([1, 2])

In [139]:
lst = [1,2,3]

In [140]:
lst.pop()

3

In [141]:
lst

[1, 2]

In [142]:
lst.append(5)
lst

[1, 2, 5]

In [143]:
lst.append(0)
lst

[1, 2, 5, 0]

In [145]:
lst.sort()
lst

[0, 1, 2, 5]

In [146]:
10 in lst

False

In [147]:
5 in lst

True

In [148]:
x = [(1,2),(3,4),(5,6)]

In [149]:
x[2]

(5, 6)

In [152]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

#### tuple unpacking

In [155]:
for (a,b) in x:
    print(a,b)

1 2
3 4
5 6